.container .contact__container{
    width: 58%;
    display: grid;
    grid-template-columns: 38% 58%;
    gap: 12%;
}
.contact__cards{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.contact__card{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.contact__card:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}
.contact__card h5{
    color: var(--color-light);
}
.contact__icon{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;

}

/************************** CONTACT FORM ***************/

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}

/************************** SMALLER SCREENS ***************/

@media screen and (max-width:1024px){
    .container .contact__container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    /* .contact__cards{
        grid-template-columns: repeat(2, 1fr);
    } */
}
@media screen and (max-width:600px){
    .container .contact__container{
        grid-template-columns: 2fr;
        gap: 2rem;
        width: var(--container-width-sm);
    }
}